.form-container {
  margin: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 27rem;
  height: 28rem;
  display: flex;
  -webkit-box-shadow: 0px 8px 13px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 8px 13px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 8px 13px 0px rgba(34, 60, 80, 0.2);
  border-radius: 15px;
}

.form-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #2f4f4f;
  margin-bottom: 1rem;
}

.form-container input {
  width: 350px;
  border: 1px solid #ccc;
  padding: 10px 30px;
  border-radius: 10px;
  margin: 8px 0;
  outline: none;
}

.btn-submit {
  margin-top: 25px;
  border: 1px solid #ccc;
  padding: 8px 70px;
  background-color: #1bb1fe;
  border-radius: 10px;
  color: #fff;
}
